// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
html,body{
    margin: 0;
    font-family: 'Oxygen', sans-serif !important;
}


html,nav{
    font-size: 18px;
    font-weight: bold;
}


.back-blue{
    background-color: #6595BF;
}


.black{
    color: black; 
}


.large-padding{
    padding: 20px 20px;
}

