<header>
    <nav class="back-blue black large-padding">
        <ul class="row center-xs" style="list-style: none;">
          <li class="col-md">
            Home
          </li>
          <li class="col-md">
            <%= link_to "Employees", employees_path %>
          </li>
          <li class="col-md">
            Company Branch
          </li>
          <li class="col-md">
            Reports
          </li>
          <li class="col-md">
            IMG
          </li>
          
          <li class="col-md">
            <% if signed_in? %>
                Signed in as: <%= current_user.email %>
                <%= button_to 'Sign out', sign_out_path, method: :delete %>
            <% else %>
                <%= link_to 'Sign in', sign_in_path %>
            <% end %>
          </li>

        </ul>
    </nav>
</header>
