<header>

    <nav class="back-blue black large-padding">
    
        <ul class="row center-xs" style="list-style: none;">

          <li class="col-md">
            Home
          </li>

          <li class="col-md">
            Employees
          </li>

          <li class="col-md">
            <%= link_to "Company", @company%>
          </li>

          <li class="col-md">
            Reports
          </li>

          <li class="col-md">
            IMG
          </li>

        </ul>

    </nav>

</header>